# Required settings
lang en_US.UTF-8
keyboard 'us'
rootpw vagrant
auth --enableshadow --passalgo=sha512
timezone UTC

# Optional settings
install
# cdrom
# use a Fedora mirror for the install source
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch --proxy=http://proxyout.lanl.gov:8080
network --bootproto=dhcp
selinux --disabled
firewall --disabled
user --name=vagrant --password=vagrant

# Avoiding warning message on Storage device breaking automated generation
zerombr

# Remove all existing partitions
clearpart --all --initlabel

autopart

# Reboot After Installation
reboot --eject

%packages
@core
# The following packages do not load in a kickstart on Fedora 27 - say package not found or throw package conflicts
gcc
gcc-c++
openssl-devel
patch
readline-devel
sqlite-devel
zlib-devel
# Prerequisites for installing VMware Tools or VirtualBox guest additions.
bzip2
curl
deltarpm
kernel-devel
kernel-headers
make
net-tools
nfs-utils
rsync
sudo
tar
wget
%end

%post
# Add Vagrant user and group.
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant
echo "vagrant"|passwd --stdin vagrant

# Give Vagrant user permission to sudo.
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant

# Enable SSHd for Packer provisioning
systemctl enable sshd.service

%end
